@model CoreComp.Models.Category
@{
    ViewData["Title"] = "NewCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@using (Html.BeginForm("NewCategory", "Category", FormMethod.Post))
{
    @Html.Label("Catagory Name")
    @Html.TextBoxFor(x=>x.CategoryName,new{@class="form-control", autocomplete = "off"})
    @Html.ValidationMessageFor(x=>x.CategoryName,"",new{@style="color:red"})
    <br />
    <button class="btn btn-info">Save</button>
}

