<div class="container mt-3" style="word-wrap:break-word">
  <h2>Developer</h2>
  <div class="card img-fluid" style="width:500px">
    <img class="card-img-top" 
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.awAiMS1BCAQ2xS2lcdXGlwHaHH%26pid%3DApi&f=1
" alt="Card image" style="width:75%;margin-left:-60px;">
    <div class="card-img-overlay">
      <h4 class="card-title">Ilkin Rufullayev</h4>
      <p class="card-text" style="word-wrap:break-word">
            ASP.NET Core ilə geliştirilən bu saytın təməli
            1 iyul 2022 də atıldı.
          </p>
    </div>
  </div>
</div>
